ul {
    list-style: none; /* Removes default list-style */
    padding-left: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
li {
    padding: 8px 12px;
    margin-bottom: 6px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: auto;
}
li:hover {
    background-color: #e0e0e0;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
label {
    margin-left: 8px;
    cursor: pointer;
}
select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
}
select:hover, select:focus {
    border-color: #aaa;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
/*#quizContainer {*/
/*    max-width: 600px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 20px;*/
/*    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
/*    background: white;*/
/*    border-radius: 8px;*/
/*    margin: 50px auto auto;*/
/*}*/
#innerContainer {
    width: 100%;
}
button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:disabled {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: not-allowed; /* Change cursor to indicate disabled */
    opacity: 0.5; /* Dim the button to indicate it's disabled */
    pointer-events: none; /* Prevents any interaction with the button */
}
button:hover {
    background-color: #0056b3;
}
#upperButtonContainer, #lowerButtonContainer {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
    border-radius: 8px;
    margin: 50px auto auto;
}